#google-signin-button > .abcRioButton {
  margin: 1em;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 90% !important;
  }
}

#InternshipCards .card-reveal .material-icons {
  vertical-align: baseline;
  padding-right: 1em;
}

#InternshipCards .card-image img {
  background: url(/images/intern4.jpg) no-repeat center center;
  height: 15em;
}

#InternshipCards .card-image i {
  position: absolute;
  display: block;
  top: .25em;
  right: .25em;
  background-color: rgba(255, 255, 255, .75);
  border-radius: 1em;
  padding: .1em;
  margin: 0;
  font-size: 2.5rem;
}

#InternshipCards .progress {
  background-color: #536dfe
}

#InternshipCards .indeterminate {
  background-color: #c5cae9
}

#InternshipCards .card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #304ffe;
  margin-right: 18px;
  transition: color .3s ease;
  text-transform: uppercase;
}

#InternshipCards .card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: #536dfe
}

.goog {
  background-color: white;
  padding: .5em .15em .15em .5em;
  margin: .5em .5em 0 0;
  position: relative;
  top: 0.15em;
  border-radius: 3em;
}
#saved-internship-link{
  text-decoration: underline;
}