#google-signin-button > .abcRioButton {
  margin: 1em;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 90% !important;
  }
}

#InternshipCards .card-reveal .material-icons {
  vertical-align: baseline;
  padding-right: 1em;
}

#InternshipCards .card-image img {
  background: url(images/intern4.jpg) no-repeat center center;
  height: 15em;
}