#profilePage {
    text-align: center;
    visibility: hidden;
}
.mdl-navigation__link:hover {
    background-color:#293ea5;
    transition:.2s;
    text-decoration:none;
}
#listOfFilters {
    font-size: large;
}
#internshipCardAttributesList {
    font-size: large;
}
#ProfileCard {
    position:relative;
    top: -50vh;
    visibility:hidden;
    z-index: -1;
}
#ProfileImage{
    height: 20vh;
    width: 20vh;
}
#InternshipCard {
    position:relative;
    z-index: 1;
}
#FilterCard {
    position:relative;
    z-index:1;
}
#buttons {
    position:relative;
    bottom: 40vh;
}
#footer {
    text-align:center;
}
